<html>
    <head>
        <body bgcolor="lightpink">
            <h2>IRIS CLASSIFICATION MODEL</h2>
            
            <form action="/predict_flower" , method="post" >

                <label>sepal length (cm):</label> <input type="number" step="any" name="html_sl"><br><br>
                <lable>sepal width (cm):</lable> <input type="number" step="any" name="html_sw"><br><br>
                <label>petal length (cm):</label> <input type="number" step="any" name="html_pl"><br><br>
                <lable>petal width (cm):</lable> <input type="number" step="any" name="html_pw"><br><br>

                <input type="submit" value="PREDICT" >

            <h3>{{Predict_Fool}}</h3>    

        
            </form>
        </body>

    </head>
</html>